hr.disqus
div#disqus_thread
script
  var disqus_shortname = 'gruntjs';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
noscript 请开启Javascript来查看
  a(href='http://disqus.com/?ref_noscript')
    |回复(由 Disqus 提供支持).
a.dsq-brlink(href='http://disqus.com')
  |回复 来自于
  span.logo-disqus
    |Disqus
