extends layout

block gettingStarted
  p 请先阅读<a href="/getting-started">入门指导</a>来获得在项目中使用grunt的指导. 然后可以研读 <a href="/sample-gruntfile">Gruntfile实例</a> 和 <a href="/configuring-tasks">配置任务</a>.

block content
  .container
    .row-fluid
      .span9.page
        .hero-unit
          .home-header
            h1
              span.grunt-name Grunt
              span.tag-line 基于JavaScript任务运行器

          .why.left
            h2 为什么要使用任务运行器
            p 简而言之：自动化。更少的工作花费在重复性的任务上，就像压缩、编译、单元测试、规范检测等等，减少你的工作量。一旦你配置好，它就不需要其他付出，为你和你的伙伴处理掉大部分例行工作

          .why.right
            h2 那为什么用Grunt?
            p Grunt 拥有庞大并且活跃的生态系统。数百个插件任你挑选。你几乎可以用Grunt以很小的代价来作任何事。如果没有你需要的，那就写一个发布到npm库里吧。

          .technology
            h2 可用的Grunt插件
            p 许多你需要的任务都已经实现成Grunt插件了，每天都有新的插件诞生.<a href="/plugins">插件列表</a>里列出了全部插件，比如这些大名鼎鼎的
            div
              a.technology(href='https://npmjs.org/package/grunt-contrib-coffee')
                span.logo
                  img(src='/img/logo-coffeescript.jpg', alt='CoffeeScript')
              a.technology(href='https://npmjs.org/package/grunt-contrib-handlebars')
                span.logo
                  img(src='/img/logo-handlebars.jpg', alt='Handlebars')
              a.technology(href='https://npmjs.org/package/grunt-contrib-jade')
                span.logo
                  img(src='/img/logo-jade.jpg', alt='Jade')
              a.technology(href='https://npmjs.org/package/grunt-contrib-jshint')
                span.logo
                  img(src='/img/logo-jshint.jpg', alt='JSHint')
              a.technology(href='https://npmjs.org/package/grunt-contrib-less')
                span.logo
                  img(src='/img/logo-less.jpg', alt='Less')
              a.technology(href='https://npmjs.org/package/grunt-contrib-requirejs')
                span.logo
                  img(src='/img/logo-requirejs.jpg', alt='Require.js')
              a.technology(href='https://npmjs.org/package/grunt-contrib-sass')
                span.logo
                  img(src='/img/logo-sass.jpg', alt='Sass')
              a.technology(href='https://npmjs.org/package/grunt-contrib-stylus')
                span.logo
                  img(src='/img/logo-sylus.jpg', alt='Stylus')

          .grunt-preview
            h2 看下预览
            p 安装Grunt其实很简单，接下来让我们看看它在项目中的使用方式。  想知道你的付出有什么回报，不妨看看<a href="https://github.com/cowboy/jquery-tiny-pubsub">示例项目</a>中的Grunt输出
            // THX 2 @GF3 4 THE CSS <3!!
            pre.terminal
              span.command-prompt grunt
              | 
              |Running "jshint:gruntfile" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              | 
              |Running "jshint:src" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              | 
              |Running "jshint:test" (jshint) task
              |<span class="green">&gt;&gt;</span> 1 file lint free.
              | 
              |Running "qunit:files" (qunit) task
              |Testing test/tiny-pubsub.html....<span class="green">OK</span>
              |<span class="green">&gt;&gt;</span> 4 assertions passed (23ms)
              | 
              |Running "clean:files" (clean) task
              |Cleaning "dist"...<span class="green">OK</span>
              | 
              |Running "concat:dist" (concat) task
              |File "dist/ba-tiny-pubsub.js" created.
              | 
              |Running "uglify:dist" (uglify) task
              |File "dist/ba-tiny-pubsub.min.js" created.
              |Uncompressed size: <span class="green">389</span> bytes.
              |Compressed size: <span class="green">119</span> bytes gzipped (<span class="green">185</span> bytes minified).
              | 
              |<span class="green">Done, without errors.</span>
              | 
              |<span class="command-prompt active"><span class="active-prompt"></span></span>
            // THX 2 @GF3 4 THE CSS <3!!
            |中文翻译版(不是真实输出)
            pre.terminal
              span.command-prompt grunt
              | 
              |运行任务 "jshint:gruntfile" (jshint)
              |<span class="green">&gt;&gt;</span> 1 个文件规范化通过.
              | 
              |运行任务 "jshint:src" (jshint)
              |<span class="green">&gt;&gt;</span> 1 个文件规范化通过.
              | 
              |运行任务 "jshint:test" (jshint)
              |<span class="green">&gt;&gt;</span> 1 个文件规范化通过.
              | 
              |运行任务 "qunit:files" (qunit)
              |测试 test/tiny-pubsub.html....<span class="green">成功</span>
              |<span class="green">&gt;&gt;</span> 4 个断言通过 (23ms)
              | 
              |运行任务 "clean:files" (clean)
              |清理 "dist"...<span class="green">成功</span>
              | 
              |运行任务 "concat:dist" (concat)
              |文件 "dist/ba-tiny-pubsub.js" 已创建.
              | 
              |运行任务 "uglify:dist" (uglify)
              |文件 "dist/ba-tiny-pubsub.min.js" 已创建.
              |未压缩大小: <span class="green">389</span> 字节.
              |压缩后大小: <span class="green">119</span> 字节 gzip处理 (<span class="green">185</span> 字节减少).
              | 
              |<span class="green">完成, 没有错误.</span>
              | 
              |<span class="command-prompt active"><span class="active-prompt"></span></span>
          .who-uses-grunt
            h2 谁在用Grunt?
            p 这有一些使用Grunt的公司与项目，
              a(href='/who-uses-grunt')查看更多
            div
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='/img/logo-twitter.jpg', alt='Twitter')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='/img/logo-jquery.jpg', alt='jQuery')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='/img/logo-adobe.jpg', alt='Adobe')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='/img/logo-modernizr.jpg', alt='Modernizr')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='/img/logo-bocoup.jpg', alt='Bocoup')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='/img/logo-fg.jpg', alt='Filament Group')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='/img/logo-saucelabs.jpg', alt='Sauce Labs')
              a.technology(href='/who-uses-grunt')
                span.logo
                  img(src='/img/logo-bitovi.jpg', alt='Bitovi')

          .how-get-started
            h2 从哪入手呢?
            block gettingStarted

      .span3
        .well.sidebar-nav
          .latest-version
            h3 Latest Version
            ul
              li Stable: v0.4.1
              li Development: N/A

          include blocks/advertisements

          .latest-news
            h3 Latest News
            ul
              each article in news
                li
                  a(href='/blog/' + article.url)
                    span.title= article.title
                    span.date= article.postDate

          .getting-started
            h3 Getting Started
            block gettingStarted

          .social
            a.github(href='https://github.com/gruntjs/', alt='Grunt on GitHub')
              span.icon-github
            a.twitter(href='https://twitter.com/gruntjs/', alt='Grunt on Twitter')
              span.icon-twitter
            a.feed(href='/rss', alt='Grunt blog RSS feed')
              span.icon-feed

