footer.grunt-footer
  .inner
    .container
      ul.pull-right
        li
          a(href='/blog') 博客
        li
          a(href='/upgrading-from-0.3-to-0.4') 迁移指导
        li
          a(href='/contributing') 贡献
        li.social
          a(href='https://github.com/gruntjs/', alt='Grunt 的 GitHub')
            span.icon-github
        li.social
          a(href='https://twitter.com/gruntjs/', alt='Grunt 的 Twitter')
            span.icon-twitter
        li.social
          a(href='/rss', alt='Grunt 博客RSS源')
            span.icon-feed
      ul.pull-left
        li
          |Grunt的开发离不开 
          a(href='http://bocoup.com/', alt='Bocoup')
            |Bocoup
          |的支持
script
  var _gaq=[['_setAccount','UA-34623937-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))
